apiVersion: apps/v1
kind: Deployment
metadata:
  name: capstone-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-capstone-app
  template:
    metadata:
      labels:
        app: devops-capstone-app
    spec:
      containers:
      - name: app
        image: 460003211837.dkr.ecr.ap-south-1.amazonaws.com/devops-capstone-app-image:v1
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "100m"
          limits:
            cpu: "200m"